@charset "utf-8";
/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	vertical-align: top;
	font-size: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Hiragino Kaku Gothic ProN', Arial, Meiryo, sans-serif;
	line-height: 1.5;
}

ul {
	list-style: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after{
	display:table;
	content:"";
}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

/*CONTENT*/
#wrap{
	width: auto;
	margin: auto;
}
.header{
	height: 670px;
}
.content01{	
	 background-image: url("moon.jpg");
}
.wraping{
	margin-right: 100px;
	margin-left: 100px;
}
.logo{
	float: left;
	margin-top: 30px;
}
.menu{
	float: right;
	width: 605px;
	margin-top: 30px;
}

.menu01{
	margin-right: 35px;
	float: left;
}
.menu02{
	margin-right: 35px;
	float: left;
}
.menu03{
	margin-right: 35px;
	float: left;
}
.menu04{
	margin-right: 35px;
	float: left;
}
.menu05{
	margin-right: 35px;
	float: left;
}
.menu06{
	margin-right: 35px;
	float: left;
}
.menu07{
	margin-right: 35px;
	float: left;
}
.banner{
	position: absolute;
	top: 200px;
    right: 200px;
}
.banner h1{
	font-size: 38px;
	color: #1d1d1d;
}
.banner p{
	color: #8a8a8a;
}
.banner img{
	margin-top: 10px;
}
.menu1 li a{
	text-decoration: none;
	color: #191919;
}
.menu01 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.menu02 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.menu03 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.menu04 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.menu05 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.menu06 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.menu07 a:hover{
	text-decoration: none;
	color: #58d4d0;
}
.content02{
	margin: auto;
	width: 700px;
	height: 250px;
	line-height: 30px;
	margin-top: 65px;
	margin-bottom: 40px;
}
.content02 h2{
	font-size: 38px;
	margin-bottom: 40px;
}
.content02 img{
	margin-top: 30px;
    margin-bottom: 40px;
}
.content03{
	height: 570px;
	margin: auto;
	width: auto;
}
.contentA{
	height: 570px;
	margin: auto;
	width: 50%;
	float: left;
	background-color: #f8f9f9;
}
.contentA h3{
	font-size: 30px;
	margin-top: 160px;
}
.contentB{
	height: 570px;
	margin: auto;
	width: 50%;
	float: left;
	background-image: url("Part2.jpg");
}
.percen{
	margin-top: 10px;
}
.per01 p{
	font-size: 12px;
	font-family: Cambria, "Hoefler Text";
	margin-bottom: 15px;
}
.per02 p{
	font-size: 12px;
	font-family: Cambria, "Hoefler Text";
	margin-bottom: 15px;
}
.per03 p{
	font-size: 12px;
	font-family: Cambria, "Hoefler Text";
	margin-bottom: 15px;
}
.content04{
	background-color: #10c9c3;
	margin: auto;
	width: auto;
	height: 240px;
}
.qualification1{
	height: 50px;
	width: 240px;
	padding-top: 100px
}
.text1{
	float: right;
	width: 160px;
	
}
.text1 h3{
	color: #f8f9f9;
}
.text1 p{
	color: #f8f9f9;
}
.qualification2{
	height: 50px;
	width: 240px;
	margin-top: 100px;
	float : left;
	margin-left: 220px;
}
.text2{
	float: right;
	width: 160px;
	
}
.text2 h3{
	color: #f8f9f9;
}
.text2 p{
	color: #f8f9f9;
}
.qualification3{
	height: 50px;
	width: 240px;
	margin-top: 100px;
	float : left;
	margin-left: 220px;
}
.text3{
	float: right;
	width: 160px;
	
}
.text3 h3{
	color: #f8f9f9;
}
.text3 p{
	color: #f8f9f9;
}
.qualification4{
	height: 50px;
	width: 240px;
	margin-top: 100px;
	float : left;
	margin-left : 220px;
}
.text4{
	float: right;
	width: 160px;
	
}
.text4 h3{
	color: #f8f9f9;
}
.text4 p{
	color: #f8f9f9;
}
