@charset "utf-8";
/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	vertical-align: top;
	font-size: 100%;
}

body {
	line-height: 1.5;

    font-family: Meiryo;
}

ul {
	list-style: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after{
	display:table;
	content:"";
}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

/* レイアウト
-------------------------- */
/* Content*/
#wrap{
	width: 980px;
	margin: auto;
}
#wraper{
	margin: auto;
	width: 970px;
}
.header{
	
	border-bottom: solid 2px #da3a5d;
	margin: 27px 10px 45px 10px;
}
.logo{
	margin-bottom: 25px;
}
.banner{
	margin: 0 10px 45px 10px;
}
.content1{
	background-image: url("../images/line.png");
	background-repeat: no-repeat;
    margin-bottom: 27px;
    margin:0 10px 27px 10px;
}
.content1 h2{
	font-size: 28px;
    color: #222;
    padding: 2px 0px 0px 0px;
    margin-left: 29px;
}
.main_content1{
	margin: 0 10px 45px 10px;
}
.main1{
	width: 475px;
    float: left;
    margin-bottom: 40px;
    height: 140px;
}
.main1 img{
	margin-left: 22px;
    float: left;
    margin-right: 37px;

}
.main1 h3{
	font-size: 24px;
    color: #d0102c;
    font-weight: bold;
    margin-top: -3px;
}
.main1 p{
	font-size: 16px;
	color: #222;
}
.main2{
	width: 475px;
    float: right;
    margin-bottom: 40px;
    height: 140px;
}
.main2 img{
	margin-top: 15px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;

}
.main2 h3{
	font-size: 24px;
    color: #d0102c;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 3px;
}
.main2 p{
	line-height: 25px;
    font-size: 16px;
    color: #222;
}
.main3{
	width: 472px;
	height: 140px;
	float: left;
}
.main3 img{
    float: left;
    margin-right: 20px;

}
.main3 h3{
	font-size: 24px;
    color: #d0102c;
    font-weight: bold;
    margin-top: -3px;
}
.main3 p{
	font-size: 16px;
    color: #222;
    margin-top: 2px;
    line-height: 24px;
}
.main4{
	width: 475px;
    float: right;
    height: 140px;
}
.main4 img{
	margin-top: 5px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;

}
.main4 h3{
	font-size: 24px;
    color: #d0102c;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 3px;
    margin-top: 6px;
}
.main4 p{
	line-height: 25px;
    font-size: 16px;
    color: #222;
}
.main_banner{
	text-align: center;
	margin-bottom: 45px;
}
.question{
	margin: 0 10px 0 10px;
}
.question li{
	background-image: url("../images/arr.png");
	background-repeat: no-repeat;
	background-position: left;
}
.list a{
	font-size: 18px;
    line-height: 36px;
    margin-left: 18px;
    color: #263c79;
}
.content2{
	background-image: url("../images/line.png");
	background-repeat: no-repeat;
    margin-bottom: 27px;
    margin:0 10px 20px 10px;
}
.content2 h2{
	font-size: 28px;
    color: #222;
    padding: 2px 0px 0px 0px;
    margin-left: 29px;
}
