@charset "utf-8";
/* CSS Document */
/*Reset*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
html{
	scroll-behavior: smooth;
}

body{
	margin:0;
}
.header{
	padding: 0px 100px 50px 100px;
	background-image: url("../images/background.png");
}
.header_menu{
	padding: 40px 0 !important;
	border-bottom: 1px solid #505269;
}
.top{
	max-width:1170px;
    margin: 0 auto;
}
ul.logo{
	float:left;
}
ul.menu_list {
	float:right;
}
ul.logo, ul.menu_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left
}

ul.menu_list li a {
  display: block;
  color: #cbccd3;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
}
.menu_list li a:last-child{
    padding-right: 0px;
}
.logo li a img{
	display: inline-block;
    padding-top: 1rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
}
.logo{
	float:left;
}
ul.logo li a:hover:not(.active), ul.menu_list li a:hover:not(.active) {
  color:#ffffff;
}
.text_benner .text_content{
   	margin: 0;
    padding: 0px 18px;
    text-align: center;
}
.text_benner p{
	font-size: 22px;
	color: #cbccd3;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0px;
}
.text_benner h2{
	font-size: 65px;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 50px;
}
.text_benner{
	padding: 120px 50px 50px 50px;
}
.text_benner button {
  background-color: #e84545;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 70px;
  cursor: pointer;
}
.categories{
	padding:100px 260px;
	background-color: #f5f5f5;
}
.services{
	display: grid;
	grid-template-columns: auto auto auto;
}
.services01{
	padding-left: 5%;
	padding-right: 5%;
}
.services01{
	text-align: center;
}
.services01 p{
	font-size:14px;
	line-height: 1.6;
	color: #6c7279;
	font-family: 'Raleway', sans-serif;
}
.services01 p:first-child{
	height:60px;
	vertical-align: middle;
}
.services01 h3{
	font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
	font-family: 'Raleway', sans-serif;
}
.tumbnail{
	margin: auto;
	width: auto;
}
.image_box{
	width: 25%;
    float: left; 
	overflow: hidden;

}
.image_box img{
	width: 100%;
}
.profile{
	padding: 60px 200px 60px 230px;
}
.team{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.team01{
	padding: 5% 10% 5% 10px;
}
.team01 p{
	font-size:14px;
	color: #6c7279;
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;	
}
.team01 p:first-child{
	height:300px;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
}
.team01 h3{
	font-size: 22px;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
}
.team01 h4{
	font-size: 13px;
	color: #e84545;
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500px;
}
.clients{
	display: flex;
}
.contentA{
	background-color: #53354a;
}
.contentA h2{
	color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    padding: 70px 0px 0px 70px;
	font-family: 'Cardo', serif;
}
.contentA p{
	 padding: 0px 0px 0px 70px;
	 color: #ffffff;
	 font-size: 13px;
	font-family: 'Raleway', sans-serif;
}

.contentB{
text-align: center;
background-color: #a5899d;
}
.box{
	width: 50%;
}
.contentB img{
	height: 100%;
	width: 100%;
}
.wraper{
	position: relative;
	display:flex;
}
.overlay{
	position: absolute;
	top:50%;
	padding:100vh 0;
	transform:translateY(-50%);
    display: none;
    background-color: rgba(211,63,63,0.9);
    width: 100%;
}
.overlay p{
	text-align: center;
	color: #ffffff;
}
.image_box:hover .overlay{
	display: block;

}
.dot_list{
	padding-top : 25px;
	text-align: center;
}
.dot_list li{
 	list-style: none;
 	padding: 4px;
}
.dot_list ul{
	display: inline-block;
}
.download{
	padding: 100px;
	text-align: center;
}
.download h2{
	font-family: 'Raleway', sans-serif;
	font-size:28px;
	font-weight: 300;
	line-height: 50px;
}
.download p{
	font-weight: bold;
	font-size: 13px;
}
.download button{
	background-color: #e84545;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.footer-1{
	background: #3a3e64;
}
.footer-1 .container{
	padding-top:65px;
	padding-bottom: 80px;
}
.footer-1 .title{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: bold;
	color:#ffffff;
}
.footer-1 .text{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 500;
	opacity: 0.5;
	color:#ffffff;
}
.footer-1 ul{
	list-style: none;
    padding: 0;
    margin-left: 110px;
}
.footer-1 li{
	display: inline-block;
	padding-right: 4px;
}
.footer-2{
	background: #313454;
}
.footer-2 .text{
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 500;
	line-height: 22.5px;
	color:#808080;
}
.footer-2 .text span{
	color:#ffffff;
}
@font-face {
  font-family: webdingsss;
  src: url("../fonts/webdings.ttf");
}
.footer-2 .text love{
	font-family: webdingsss;
	color:#e84545;
}
.footer-2 .container{
	padding-top:25px;
	padding-bottom: 25px;
}
.not_active.active img {
    content: url("../images/Ellipse 2.png");
}
.nav_icon{
	width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}
.nav_bar{
	float: right;
	display: none;
}
/*SP TABLET*/

@media (max-width: 1024px){
	.wraper{
		width: auto;
		margin: auto;

	}
	.header_menu{
		padding: 0px;
	}
	.logo ul li{
		float: left;
	}
	.menu_list li{
		float: none;
	}
    .nav_bar{
    	display: block;
    }
    .header_menu .menu_list{
    	float: none;
	    position: absolute;
	    display: none;
	    left: 460px;
	    top: 50px;
    }
    .services {
    	display: grid;
   		grid-template-columns: auto auto;
    }
    .categories{
    	padding: 85px 80px;
    	background-color: #f5f5f5;
    }
   .text_benner {
    padding: 100px 0px 0px 0px;
	}
	.team {
    display: grid;
    grid-template-columns: auto auto;
	}
	.profile{
		padding: 50px;
	}
	.team01{
		text-align: center;
		padding: 5%;
	}
	.services01 p {
    font-size: 14px;
    line-height: 21px;
    color: #6c7279;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
	}

}
@media (max-width:1090px){
	.clients {
    width: 100%;
	}
	.categories {
    padding: 100px;
	}
	.team {
    grid-template-columns: auto auto;
    text-align: center;
	}
	.profile{
		padding: 100px;
	}
	.text ul li{
		text-align: center;
	}
	.footer-1 ul {
    margin-left: 40px;
	}
	.contentA h2 {
    font-size: 30px;
    padding: 60px 0px 0px 50px;
    font-weight: 100;
	}
	.contentA p {
    font-size: 12px;
	}
}

@media (max-width: 768px){
	.services01{
		
	}
}